DISCORD_TOKEN=xxx
ALERTS_ROLE_ID=1494339915788587099
DISCORD_COMMAND_CHANNEL_ID=1494354579478020096
DISCORD_LOG_CHANNEL_ID=1494349287297912924

# I Added this because without it, the bot didn't know where to send alerts, so it just defaulted to 'null' and failed silently.
DISCORD_ALERTS_CHANNEL_ID=1494349287297912924  # Replace with the actual alerts channel ID

# ── Minecraft ─────────────────────────────────────────────────
MC_EMAIL=placeholder@gmail.com
MC_HOST=play.talonmc.net
MC_PORT=25565

# ── Webshare Proxy (leave blank to connect directly) ─────────
#PROXY_HOST=82.26.64.217:6431
#PROXY_PORT=7613
#PROXY_USER=lhmeydbm
#PROXY_PASS=769fs69cr9sy
